.contacts-block {
  display: flex;
}

.request,
.contacts {
  width: 50%;
}

.request {
  background: $dark-background;
  color: #ffffff;
}

.request__content {
  padding: 70px 172px 70px 0;
  max-width: 580px;
  float: right;

  h2 {
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 410px;

    label {
      width: calc((100% - 30px) / 2);
    }

    button {
      width: 100%;
      font-size: 14px;
    }
  }
}

.contacts {
  border-top: 1px solid #74819c;
}

.contacts__content {
  padding: 66px 0 60px 122px;
  max-width: 584px;

  h2 {
    margin-bottom: 45px;
  }
}

.contacts-items {
  display: flex;
  justify-content: space-between;

  &--left,
  &--right {
    display: flex;
    flex-direction: column;
    padding-right: 63px;
  }

  &--left {
    border-right: 1px solid #74819c;
  }
}

.contacts__item {
  font-size: 14px;

  &:nth-child(2n +1) {
    margin-bottom: 18px;
  }

  span {
    display: block;

    &:first-of-type {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  a {
    display: block;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-color: inherit;
  }
}

@media screen and (max-width: $tablet-width) {
  .contacts-block {
    flex-direction: column;
  }

  .request,
  .contacts {
    width: 100%;
  }

  .request__content {
    max-width: 503px;
    margin: 0 auto;
    float: none;
    padding: 66px 30px 70px 0;

    h2 {
      margin-bottom: 26px;
    }

    form {
      max-width: 480px;

      label {
        width: calc((100% - 60px) / 2);
      }
    }
  }

  .contacts__content {
    max-width: 575px;
    margin: 0 auto;
    padding: 70px 0 62px 39px;

    h2 {
      margin-bottom: 35px;
    }
  }

  .contacts-items {
    justify-content: flex-start;

    &--left {
      padding: 0 46px 0 0;
    }

    &--right {
      padding: 0 0 0 46px;
    }
  }

  .contacts__item {
    &:nth-child(2n + 1) {
      margin-bottom: 22px;
    }

    span,
    a {
      font-size: 18px;
    }

    span:first-of-type {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .contacts-block {
    align-items: center;
  }

  .request__content {
    max-width: 442px;
    padding: 68px 15px 73px;

    form {
      label {
        width: 100%;
      }
    }
  }

  .contacts__content {
    max-width: 442px;
    padding: 70px 15px 38px;
    margin: 0;
  }

  .contacts-items {
    flex-direction: column;

    &--left,
    &--right {
      border-right: none;
      padding: 0;
    }
  }

  .contacts__item {
    margin-bottom: 25px;
  }
}
