.gym-block {
  .wrapper {
    padding: 164px 34px 137px 34px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    padding: 0 30px 0 128px;
    max-width: 360px;
    box-sizing: content-box;

    p {
      font-weight: 300;
    }
  }

  &__media {
    padding: 55px 0 0 125px;
    position: relative;

    iframe {
      position: absolute;
      bottom: -17px;
      left: 0;
    }
  }
}

@media screen and(max-width: $tablet-width) {
  .gym-block {
    .wrapper {
      flex-direction: column;
      align-items: center;
      padding: 97px 45px 182px;
    }

    &__text {
      max-width: 520px;
      padding: 0 0 26px 0;
      text-align: center;
    }

    &__media {
      padding: 0;

      iframe {
        bottom: -83px;
        left: 50%;
        transform: translateX(-50%);
        width: 266px;
        height: 167px;
      }
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .gym-block {
    .wrapper {
      padding: 65px 0 70px;
    }

    &__text {
      text-align: left;
      padding: 0 15px 15px;
    }

    &__media {
      img {
        margin-bottom: 35px;
      }

      iframe {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 167px;
      }
    }
  }
}
