.gym-block {
  .wrapper {
    padding: 164px 34px 134px 34px;
    display: flex;
    justify-content: space-between;
  }
}

.gym-block__text {
  padding: 0 0 0 128px;
  max-width: 360px;
  box-sizing: content-box;

  p {
    font-weight: 300;
    margin-bottom: 7px;
  }
}

.gym-block__media {
  padding: 59px 0 0 137px;
  position: relative;

  iframe {
    position: absolute;
    bottom: -15px;
    left: 20px;
  }
}

@media screen and(max-width: $tablet-width) {
  .gym-block {
    .wrapper {
      flex-direction: column;
      align-items: center;
      padding: 97px 45px 182px;
    }
  }

  .gym-block__text {
    max-width: 520px;
    padding: 0 0 26px 0;
    text-align: center;

    p {
      margin-bottom: 16px;
    }
  }

  .gym-block__media {
    padding: 0;

    iframe {
      bottom: -83px;
      left: 50%;
      transform: translateX(-50%);
      width: 266px;
      height: 167px;
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .gym-block {
    .wrapper {
      padding: 65px 0 70px;
    }
  }

  .gym-block__text {
    text-align: left;
    padding: 0 15px 15px;
  }

  .gym-block__media {
    img {
      margin-bottom: 35px;
    }

    iframe {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 167px;
    }
  }
}
