.main-header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  font: bold 26px/1 "Bebas Neue", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.main-header__phone:hover {
  transform: scale(1.2);
}

@media screen and(max-width: $tablet-width) {
  .main-header {
    padding-top: 40px;
    font-size: 24px;
  }
}

@media screen and(max-width: $mobile-width) {
  .main-header {
    padding-top: 20px;
    font-size: 20px;
  }
}
