.promo-block {
  padding: 45px 0 60px;

  .wrapper {
    display: flex;
  }

  h2 {
    font: bold 90px/1 "Bebas Neue", "Arial", sans-serif;
    max-width: 201px;
    margin-bottom: 5px;
  }

  p {
    font-size: 18px;
    margin-bottom: 46px;
  }

  .button {
    display: block;
    padding: 26px 44px;

    &:hover {
      color: #ed0233;
    }
  }
}

.promo-block__info {
  background: #ed0233;
  padding: 87px 71px 0 87px;
  color: #ffffff;
  width: 500px;
}

.promo-block__img {
  width: calc(100% - 500px);
}

.promo-block__timetable {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.promo-block__timetable-info {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo-block__timetable-title {
  font-size: 18px;
  padding-bottom: 5px;
}

.promo-block__timetable-text {
  font: bold 40px/1 "Roboto Condensed", "Arial", sans-serif;
  border-top: 1px solid #ffffff;
  padding-top: 5px;

  span {
    font: 14px/1.4 "Roboto Condensed", "Arial", sans-serif;
    display: inline-block;
    padding-left: 7px;
  }
}

@media screen and (max-width: $tablet-width) {
  .promo-block {
    padding: 25px 0 40px;

    h2 {
      font-size: 52px;
      margin-bottom: 0;
    }

    p {
      font-size: 12px;
      margin-bottom: 25px;
    }

    .button {
      font-size: 10px;
      padding: 13px 0;
    }
  }

  .promo-block__info {
    width: 292px;
    padding: 50px 45px 52px;
  }

  .promo-block__img {
    width: calc(100% - 292px);
  }

  .promo-block__timetable-info {
    margin-bottom: 8px;
  }

  .promo-block__timetable-title {
    font-size: 12px;
    padding-bottom: 2px;
  }

  .promo-block__timetable-text {
    font-size: 24px;
    padding-top: 2px;

    span {
      font-size: 10px;
      line-height: 1.2;
      padding-left: 2px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .promo-block {
    padding: 74px 0 30px;

    .wrapper {
      flex-direction: column;
    }
  }

  .promo-block__info,
  .promo-block__img {
    width: 100%;
  }
}
