.reviews-block {
  padding: 45px 0 120px;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.reviews-block__slider-wrapper {
  max-width: 760px;
  padding: 0 100px;
  margin: 0 auto;
  position: relative;
}

.swiper-button-prev--reviews-slider {
  left: 45px;
  top: 50%;
}

.swiper-button-next--reviews-slider {
  right: 45px;
  top: 50%;
}

.reviews-slide {
  padding: 60px 60px 37px;
  background: $dark-background;

  p {
    padding-left: 110px;
  }
}

.reviews-slide__img {
  display: block;
  float: left;
  width: 110px;
  padding-right: 26px;
  height: 100%;

  img {
    border-radius: 50%;
  }
}

.reviews-slide__name {
  display: inline-block;
  font: bold 20px "Roboto Condensed", "Arial", sans-serif;
  margin-bottom: 13px;
}

@media screen and (max-width: $tablet-width) {
  .reviews-block {
    padding: 45px 0 99px;

    h2 {
      margin-bottom: 42px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .reviews-block {
    padding: 18px 0 56px;

    h2 {
      margin-bottom: 42px;
    }
  }

  .reviews-block__slider-wrapper {
    padding: 0 47px;
  }

  .swiper-button-prev--reviews-slider {
    left: 15px;
  }

  .swiper-button-next--reviews-slider {
    right: 15px;
  }

  .reviews-slider {
    max-width: 100%;
  }

  .reviews-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 25px 25px;

    p {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
  }

  .reviews-slide__img {
    padding: 0;
    margin: 0 10px 10px 0;
    max-width: 68px;
  }
}

@media screen and (max-width: 360px) {
  .reviews-slide__img,
  .reviews-slide__name {
    width: 50%;
  }
}
