.subscriptions-block {
  padding: 117px 0 155px;
  background: url("../img/barbell-plates.png") no-repeat bottom right -158px, linear-gradient(to top, #ffffff 75px, $light-background 75px);
  text-align: center;
  position: relative;

  img {
    position: absolute;
    bottom: -73px;
    right: 0;
    z-index: 1;
    width: 242px;
  }
}

.subscriptions-block__tabs {
  display: inline-block;
  margin: 10px auto 39px;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  span {
    display: inline-block;
    padding: 15px 0;
    cursor: pointer;
    margin-bottom: -2px;
  }

  span:not(:last-child) {
    margin-right: 35px;
  }

  span.active {
    color: #102654;
    border-bottom: 2px solid #d10a42;
  }
}

.subscriptions-items {
  display: none;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.subscriptions-items.active {
  display: flex;
}

.subscriptions-item {
  background: #ffffff;
  border: 7px solid transparent;
  padding: 52px 10px 62px;
  width: calc((100% - 72px) / 3);
  margin-bottom: 40px;
  transition: all 0.3s;

  &:hover {
    border-image: linear-gradient(to bottom right, #d10a42 0%, #00359f 100%);
    border-image-slice: 1;
  }

  &:hover .button {
    color: #ffffff;
    border: none;
    padding: 24px 45px;
    background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  }
}

.subscriptions-item__terms {
  display: inline-block;
  margin-bottom: 38px;
}

.subscriptions-item__price-shadow {
  font: bold 100px/1 "Roboto Condensed", "Arial", sans-serif;
  color: #e8e8e8;
}

.subscriptions-item__price {
  font: bold 60px/1 "Roboto Condensed", "Arial", sans-serif;
  color: #103aae;
  margin: -55px 0 48px;

  span {
    color: #102654;
  }
}

.subscriptions-item__button {
  padding: 22px 45px;
}

@media screen and(max-width: $tablet-width) {
  .subscriptions-block {
    padding: 98px 0 137px;
    background-position: right -50px bottom;

    img {
      bottom: -57px;
      width: 350px;
      height: auto;
    }
  }

  .subscriptions-block__tabs {
    margin: 0 auto 47px;
  }

  .subscriptions-items {
    flex-direction: column;
    align-items: center;
  }

  .subscriptions-item {
    width: 100%;
    max-width: 442px;
    padding: 54px 10px 63px;

    h3 {
      font-size: 26px;
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .subscriptions-block {
    padding: 67px 0 30px;
    background: $light-background;
  }

  .subscriptions-block__tabs {
    font-size: 16px;
    margin: 0 auto 36px;

    span {
      padding: 10px 0;
    }
  }

  .subscriptions-item {
    padding: 46px 10px;

    h3 {
      font-size: 22px;
    }
  }

  .subscriptions-item__price-shadow {
    font-size: 80px;
  }

  .subscriptions-item__price {
    font-size: 48px;
    margin: -55px 0 43px;
  }
}
