.gradient-background {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  color: #ffffff;
}

.top-block {
  display: flex;
  padding-bottom: 50px;

  &__text {
    direction: rtl;
    padding-right: 76px;
    padding-top: 110px;
    width: 480px;
  }

  .title-wrapper {
    position: relative;

    ul {
      position: absolute;
      left: 11px;
      bottom: 26px;
    }
  }

  .button {
    padding: 21px 54px;
  }

  &__social-links {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 31px;

    a {
      display: inline-block;
      margin-bottom: 24px;
      position: relative;
      left: 9px;
    }
  }
}

@media screen and(max-width: $tablet-width) {
  .top-block {
    padding-top: 16px;
    padding-bottom: 76px;
    justify-content: space-between;

    &__text {
      width: 354px;
      padding-top: 55px;
      padding-right: 30px;
    }

    h2 {
      margin-bottom: 5px;
      font-size: 34px;
    }

    &__img {
      width: calc(100% - 354px);

      img {
        min-height: 390px;
      }
    }

    .title-wrapper {
      ul {
        font-size: 14px;
        left: 0;
        bottom: 18px;
      }
    }

    .button {
      padding: 21px 33px;
    }

    &__social-links {
      display: none;
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .top-block {
    justify-content: center;
    padding-top: 66px;
    padding-bottom: 79px;

    &__text {
      max-width: 300px;
      padding: 0;
    }

    h2 {
      margin-bottom: 13px;
    }

    &__img {
      display: none;
    }

    .button {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .gradient-background {
    background: linear-gradient(45deg, #003d85 0%, #003d85 1%, #b80027 82%, #b80027 100%);
  }
}
