.trainers-block {
  padding: 55px 0 120px;

  h2 {
    margin-bottom: 56px;
  }
}

.trainers-slider {
  text-align: center;
}

@media screen and (max-width: $tablet-width) {
  .trainers-block {
    padding: 60px 0 94px;

    h2 {
      margin-bottom: 41px;
    }
  }

  .trainers-slider {
    max-height: 294px;
  }
}

@media screen and (max-width: $mobile-width) {
  .trainers-block {
    padding: 40px 0 60px;
  }
}
