* {
  box-sizing: border-box;
}

body {
  font: 16px/1.4 "Roboto Condensed", "Arial", sans-serif;
  color: $main-text-color;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  box-sizing: content-box;
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
}

.wrapper-1300 {
  max-width: 1300px;
}

.wrapper-1160 {
  max-width: 1160px;
}

.wrapper-1100 {
  max-width: 1100px;
}

.wrapper-1040 {
  max-width: 1040px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 16px 0;
  line-height: 1.5;
}

h1 {
  margin: 0 0 75px 0;
  font: bold 109px/1 "Bebas Neue", "Arial", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 13px 0;
  font: bold 49px/1 "Bebas Neue", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

h2 + span {
  font-size: 18px;
  margin-bottom: 41px;
  display: inline-block;
}

h3 {
  margin: 0 0 14px 0;
  font: bold 26px/1 "Roboto Condensed", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: none;
  font: bold 14px/1 "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid;
  padding: 15px 44px;
  color: inherit;
  transition: background 0.3s;
}

.button--white-border {
  border-color: #ffffff;
}

.button--white-border:hover {
  background: #ffffff;
  color: $main-text-color;
}

input[type="text"],
input[type="tel"],
textarea {
  background: $input-background;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 100%;
  margin-bottom: 30px;
  color: #ffffff;
  outline: none;
}

textarea,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="submit"] {
  appearance: none;
  border-radius: 0;
}

input::placeholder {
  color: $placeholder-color;
}

.social-links {
  font-size: 0;
}

.social-links a:hover svg {
  transform: scale(1.5);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

@media screen and (max-width: $tablet-width) {
  h1 {
    font-size: 86px;
    margin-bottom: 58px;
  }

  h2 {
    font-size: 42px;
  }

  h2 + span {
    margin-bottom: 35px;
  }

  h3 {
    font-size: 22px;
  }

  .mobile-hidden {
    display: none;
  }

  .site-logo {
    svg {
      width: 82px;
      height: 18px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .wrapper {
    padding: 0 15px;
  }

  h1 {
    font-size: 78px;
    margin-bottom: 44px;
  }

  h2 {
    font-size: 32px;
  }

  h2 + span {
    margin-bottom: 23px;
  }
}
