@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto_condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto_condensed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto_condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto_condensed-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue-regular.woff2") format("woff2"),
    url("../fonts/bebas_neue-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue-bold.woff2") format("woff2"),
    url("../fonts/bebas_neue-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
