.with-slider {
  .wrapper {
    padding: 0 97px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
  top: 65%;
  width: 16px;
  height: 32px;
  background-size: cover;
}

.swiper-button-prev {
  left: 36px;
  background-image: url("../img/prev.svg");
}

.swiper-button-next {
  right: 36px;
  background-image: url("../img/next.svg");
}

.swiper-slide {
  position: relative;
  color: #ffffff;
}

.hover-slide__name {
  font: bold 18px/1 "Roboto Condensed", "Arial", sans-serif;
  position: absolute;
  bottom: 29px;
  width: 100%;
}

.hover-slide__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  padding: 50px 55px;
  background: rgba(16, 38, 84, 0.89);
  opacity: 0;
  transition: all 0.3s;

  ul {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    list-style: disk outside;

    li {
      margin-bottom: 20px;
    }
  }
}

.hover-slide__hidden-name {
  font: bold 18px/1 "Roboto Condensed", "Arial", sans-serif;
}

.hover-slide__hidden-name + span {
  color: #b6bdcc;
  display: inline-block;
  margin-bottom: 40px;
}

.hover-slide {
  &:hover .hover-slide__info {
    opacity: 1;
  }

  &:hover .hover-slide__name {
    opacity: 0;
  }
}


@media screen and (max-width: $tablet-width) {
  .with-slider {
    .wrapper-1160 {
      max-width: 566px;
    }

    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .with-slider {
    .wrapper-1160 {
      max-width: 266px;
    }

    .wrapper {
      padding: 0 47px;
    }
  }

  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next {
    right: 15px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 10px;
    height: 19px;
  }
}
