$main-text-color: #102654;
$input-background: transparent;
$placeholder-color: #ffffff;
$tablet-width: 1199px;
$mobile-width: 767px;

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@import "normalize";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.4 "Roboto Condensed", sans-serif;
  color: $main-text-color;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  box-sizing: content-box;
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
}

.wrapper-1300 {
  max-width: 1300px;
}

.wrapper-1160 {
  max-width: 1160px;
}

.wrapper-1100 {
  max-width: 1100px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 16px 0;
  line-height: 1.5;
}

h1 {
  margin: 0 0 75px 0;
  font: 109px/1 "Bebas Neue Bold", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 13px 0;
  font: 49px/1 "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
}

h2 + span {
  font-size: 18px;
  margin-bottom: 41px;
  display: inline-block;
}

h3 {
  margin: 0 0 15px 0;
  font: 24px/1 "Bebas Neue Bold", sans-serif;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
  background: none;
  font: bold 12px/1 "Roboto Condensed", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 4px solid;
  padding: 24px 44px;
  color: inherit;
  transition: all 0.3s;
}

.button--white-border {
  border-color: #ffffff;
}

.button--white-border:hover {
  background: #ffffff;
  color: $main-text-color;
}

input[type="text"],
input[type="tel"],
textarea {
  background: $input-background;
  padding: 15px;
  border: none;
  width: 100%;
  margin-bottom: 42px;
  color: #ffffff;
  @include input-placeholder {
    color: $placeholder-color;
  }
}

textarea,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.social-links {
  font-size: 0;
}

.social-links a:hover svg {
  transform: scale(1.5);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

@media screen and (max-width: $tablet-width) {
  h1 {
    font-size: 86px;
    margin-bottom: 58px;
  }

  h2 {
    font-size: 42px;
  }

  h2 + span {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: $mobile-width) {
  .wrapper {
    padding: 0 15px;
  }

  h1 {
    font-size: 78px;
    margin-bottom: 44px;
  }

  h2 {
    font-size: 32px;
  }

  h2+span {
    margin-bottom: 23px;
  }
}

@import "source/sass/blocks/main-header";
@import "source/sass/blocks/promo-block";
@import "source/sass/blocks/gym-block";
@import "source/sass/blocks/main-footer";
